

body {
  overflow-x: hidden;
}


.background {



  background: rgba(0, 0, 0, 0) url("images/bg.jpg") repeat scroll 0 0;
  background-size: cover;
}



h1, h2, h3, h4, h5, p, li {font-family: 'Abel', sans-serif;}


.accroche-1 {background:#b59a98;}

.accroche-2 {background:#9c7e7d;}

.accroche-1 h2, .accroche-1 h3, .accroche-2 h2, .accroche-2 h3 {color:#fff;}


.accroche-1, .accroche-2 {
  padding: 34px 60px;
}


.accroche-1 h3, .accroche-2 h3 {
  font-size: 43px;
  line-height: 44px;
}

.accroche-1 h2, .accroche-2 h2 {
  font-size: 30px;
}


.bar {
  background: #ebe3e3 none repeat scroll 0 0;
  color: #f4f4f4;
  height: 16px;
  margin: 6px 0;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.level {
  font-size: 18px;
  font-weight: bold;
  height: 16px;
  padding-left: 38px;
}

.boulots img{width:100%;}

#stats h2 {
  font-size: 22px;
  line-height: 25px;
  text-align: right;
  color: #866b6b;
}

.boulots {background:#ad2424;}

.boulots img {opacity: 0.6;   transition: all 0.5s ease;}

.boulots img:hover {opacity: 1;}


#stats {
  margin-top: 96px;
  margin-bottom: 96px;
}

.boulots .columns {
  padding: 0;
}

.boulots {margin:0px 0px 100px 0px;}


#skills1 {
  background:#d9302f !important;
  width:92%;
}

#skills2 {
  background:#f5ad11 !important;
  width:86%;
}

#skills3 {
  background:#89e5e8 !important;
  width:43%;
}

#skills4 {
  background:#c99eed !important;
  width:39%;
}

#skills5 {
  background:#8e6083 !important;
  width:82%;
}

#skills6 {
  background:#acb640 !important;
  width:76%;
}

#skills7 {
  background:#acb640 !important;
  width:76%;
}


#skills7 {
  background:#e465b6 !important;
  width:60%;
}

#skills8 {
  background:#e46416 !important;
  width:79%;
}


#skills9 {
  background:#29c5b1 !important;
  width:71%;
}



#skills10 {
  background:#bab494 !important;
  width:80%;
}



#skills11 {
  background:#2f9ef4 !important;
  width:44%;
}


#skills12 {
  background:#601e1c !important;
  width:100%;
}




.tarte li span {
  color: #a68282;
  font-size: 22px;
  position: relative;
  top: -8px;
}


.tarte ul li:nth-child(1) {
  color: #e72025;
}
.tarte ul li:nth-child(2) {
  color: #febc11;
}
.tarte ul li:nth-child(3) {
  color: #62c8cb;
}
.tarte ul li:nth-child(4) {
  color: #ceafd3;
}
.tarte ul li:nth-child(5) {
  color: #8b7085;
}
.tarte ul li:nth-child(6) {
  color: #94a23a;
}

.tarte {
  margin-top: 100px;
  margin-bottom: 100px;
}

.tarte img {
  margin-left: 20px;
}
.tarte ul {
margin-top:25%;
  margin-left: 60px;
}

.tarte ul li {
  font-size: 47px;
  line-height: 35px;
  list-style-type: square;
}

.mapa-wrapper {
  background: #e5dedd none repeat scroll 0 0;
  margin: 60px 0px;
}

.footer h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 0;
  padding: 44px;
  text-transform: uppercase;
}


.footer h2 span {
  color: #771b1b;
}

.footer a {
  color: #fff;
  font-size: 20px;
}

.footer a:hover {
  color: #febc11;
}

a.linkedin:hover {
  background: #0088c0;
  color:#fff;

}

.footer p {
  margin: 0px;
}


a.linkedin {
  font-size: 13px !important;
  padding: 14px 7px 8px;
  line-height: 43px;
  border-radius: 4px;
}


.contact {
  padding: 16px 25px;
}

.footer > .columns:nth-child(1) {
  background: #ee3224 none repeat scroll 0 0;
}

.footer > .columns:nth-child(2) {
  background: #ad2424 none repeat scroll 0 0;
}

.footer {
  margin-top: 50px;
}


.portafolio {margin:50px 0px;}

.page-inside {
  margin: 50px 0px 100px;
}

.page-inside img {
  width: 150px;
}


.legende {
  background: #d9cece none repeat scroll 0 0;
  padding: 20px 50px 20px 30px;
}

.legende p {
  color: #555;
  margin: 0;
  line-height: 18px;
}

.orbit-container {
  min-height: 600px !important;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.orbit .caption {
  margin-top: 100px;
}

.orbit-bullets button {
  background-color: #cacaca;
  border-radius: 0;
  height: 1.2rem;
  margin: 0.1rem;
  width: 1.2rem;
  margin:0px 50px;
}

.caption p {
  margin: 0;
  }



.show {
  color: #957e7d;
  display: block;
  font-family: "Abel";
  font-size: 17px;
  left: -70px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  width: 164px;
}

.is-active .show,  .orbit-bullets button:hover .show{
  color: #ad2424 !important;}

.orbit-bullets hr {
  background: #cfbdbc none repeat scroll 0 0;
  border-color: #cfbdbc;
  color: #cfbdbc;
  position: relative;
  top: -33px;
  width: 752px;
  z-index: -1000;
}


.orbit-bullets button {
  background-color: #cacaca;
  border-radius: 0;
  height: 1rem;
  margin: 0 85px;
  width: 1rem;
} 


.orbit-bullets button.is-active, .orbit-bullets button:hover {
  background-color: #ad2424 !important;

} 

.orbit-bullets {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  position: relative;
  text-align: center;
  top: -50px;
  z-index: 1000;
}


.mapa-wrapper ul {
  background: rgba(204, 190, 191, 0.24) none repeat scroll 0 0;
  margin-left: auto;
  margin-right: auto;
  padding: 13px;
  position: relative;
  top: -159px;
  width: 244px;
  margin-bottom: -83px;
}

.mapa-wrapper li span {
  color: #8a6868;
  font-family: Abel;
  font-size: 19px;
  position: relative;
  top: -4px;
}

.mapa-wrapper li {
  font-size: 32px;
  list-style-type: square;
  margin-left: 54px;
  text-align: left;
  line-height: 25px;
}

.mapa-wrapper li:nth-child(1) {
  color:#c7080d;
}

.mapa-wrapper li:nth-child(2) {
  color:#62c8cb;
}


svg {
  width: 280px;
  height: 300px;
 }

  path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


.logo {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.logo > h3 {
  color: #fff;
  position: absolute;
  right: 35px;
  top: 3px;
}

.logo h1 {
  color: #fff;
  font-size: 56px;
  left: 71px;
  position: absolute;
  top: 80px;
}

.logo h2 {
    color: rgba(9, 5, 6, 0.62);
    font-size: 55px;
    left: 78px;
    position: absolute;
    top: 145px;
}
.background {
  padding: calc(50vh - 153px) 0;
}


.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}



.caption h3, .caption h5, .caption p {
  color: #a68282;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 


.accroche-1 h3, .accroche-2 h3 {
  font-size: 41px;
  line-height: 44px;
}
  #stats h2 {
    margin-bottom: 0;
    margin-top: 17px;
    text-align: left;
  }

  .tarte ul {
    margin-left: 60px;
  }



.tarte li span {
  color: #a68282;
  font-size: 19px;
  position: relative;
  top: -8px;
}


.orbit-bullets button {
  background-color: #cacaca;
  border-radius: 0;
  height: 1rem;
  margin: 0 47px;
  width: 1rem;
}


.orbit-bullets hr {
  width: 537px;
}


.mapa-wrapper ul {
  background: rgba(204, 190, 191, 0.24) none repeat scroll 0 0;
  margin: 0 auto;
  padding: 13px;
  position: relative;
  top: -42px;
  width: 244px;
}


}


@media only screen and (max-width: 40em) { 

  #stats h2 {
  color: #866b6b;
  font-size: 22px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer p {
  margin: 53px 20px;
}

.accroche-1 h3, .accroche-2 h3 {
  font-size: 25px;
  line-height: 38px;
}

#stats {
  margin-bottom: 68px;
  margin-top: 53px;
}

.boulots img {
  opacity: 1;
  transition: all 0.5s ease 0s;
}

.tarte img {
  margin-left: 0;
}

.accroche-1 h2, .accroche-2 h2 {
  font-size: 22px;
}
.tarte ul li {
  font-size: 44px;
  line-height: 24px;
  list-style-type: square;
}
.tarte ul {
  margin-left: 60px;
  margin-top: 10%;
}

.tarte li span {
  color: #a68282;
  font-size: 20px;
  position: relative;
  top: -8px;
}

.footer a {
  color: #fff;
  font-size: 23px;
}

.orbit-bullets button {
  background-color: #cacaca;
  border-radius: 0;
  height: 1rem;
  margin: 0 21px;
  width: 1rem;
}

.show {
  color: #957e7d;
  display: block;
  font-family: "Abel";
  font-size: 11px;
  left: -70px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  width: 164px;
}

.orbit-container {
  list-style: outside none none;
  margin: 0;
  min-height: 787px !important;
  overflow: hidden;
  position: relative;
}

.orbit-bullets hr {
  background: #cfbdbc none repeat scroll 0 0;
  border-color: #cfbdbc;
  color: #cfbdbc;
  position: relative;
  top: -31px;
  width: 294px;
  z-index: -1000;
}

.orbit .caption {
  margin-top: 0px;
}

.mapa-wrapper {
  background: #e5dedd none repeat scroll 0 0;
  margin: 0px 0;
}

.mapa-wrapper ul {
  background: rgba(204, 190, 191, 0.24) none repeat scroll 0 0;
  margin: 0 auto;
  padding: 13px;
  position: relative;
  width: 100%;
  bottom:0px;
  top: inherit;
}


.mapa-wrapper .columns {
  padding: 0;
}

  } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

  
